.header-text {
    bottom: 0%;
}
.todo-background{
    background-color: burlywood;
}
.todo-container{
    opacity: 0.84;
    padding-left: 5rem;
}
hr{
    margin: 0% !important;
    padding: 0.1%;
}
li{
    list-style-type: none !important;
}
.remove-btn{
    padding-top: 0% !important;
    margin-left: 9.4rem;
}
.add-To-do{
    margin-left: 5.5% !important;
}
.w-10{
    width: 10%;
}
.nav-text{
    right: 5.1rem;
}
a:hover{
    cursor: pointer;
}
.total{
    margin-left: 7rem;
    
}